// Color
$mainColor: #d70424;

// Media
$mediaExSmall: "(max-width: 575.98px)";
$mediaSmall: "(min-width: 576px) and (max-width: 767.98px)";
$mediaMedium: "(min-width: 768px) and (max-width: 991.98px)";
$mediaLarge: "(min-width: 992px) and (max-width: 1199.98px)";
$mediaExLarge: "(min-width: 1200px)";