<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Fake TITLE
    //- Styles
    // Styles
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap" )
  body
    //- Header
    // Header
    header
      .container
        span Cyber Monday
        .tempHeader
          h2 Sale Up To 70% Off
    
    //- Section Lorem Ipsum One
    // Section Lorem Ipsum One
    section.Lorem-one
        h2 New Arrivals
        div(class="horizontal-scroll-wrapper row")
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
          .col
            .content
              .img
                img(src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="Nancy Chair")
              .text
                h4 Nancy Chair
                span $29.00
    
    //- Scripts
    // Scripts
    script(src="http://localhost:35729/livereload.js?snipver=1")
    //- jQuery
    // jQuery
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //- Script
    script(src="js/jquery.nicescroll.min.js")
    script(src="js/script.js")
